button.button-cnd {
    padding: 12px 14px !important;
    color: #3e425e;
    font-family: Roboto !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    outline: none;
    user-select: none;
    letter-spacing: .03em !important;
    cursor: pointer;
}
button.button-cnd:hover {
    background-color: #f0f0f3;
}
button.button-cnd.primary {
    color: #fff;
    background-color: #08bf32;
}
button.button-cnd.primary:hover {
    background-color: #39cb5b;
}
button.button-cnd:focus {
    outline: none;
}

