<template>
    <div id="excel-sticker">
        <font-awesome-icon icon="fas fa-file-excel"/>
    </div>
</template>

<script>

export default {
    name: 'ExcelSticker',
    components: {

    },
    props: {
        // options: Object
    },
    data() {
        return {
            show: false,
        }
    },
    methods: {
        close() {
            this.show = false;
        },
    },
    mounted() {

    }
}
</script>

<style lang="scss" scoped>

    #excel-sticker {
        position: fixed;
        margin-left: -22px;
        padding: 2px 6px 2px 26px;
        bottom: 90px;
        left: 0;
        color: #08bf32;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
        border-radius: 20px;
        cursor: pointer;
        z-index: 10000;
    }

</style>
