<template>
    <div id="excel-sticker">
        <a href="https://cnd-api.control-mos.ru/excel#/" target="_blank">
            <font-awesome-icon icon="file-excel"/>
        </a>
    </div>
</template>

<script>

export default {
    name: 'ExcelSticker',
    components: {

    },
    props: {
        // options: Object
    },
    data() {
        return {

        }
    },
    methods: {

    },
    mounted() {

    }
}
</script>

<style lang="scss" scoped>

    #excel-sticker {
        position: fixed;
        margin-left: -21px;
        padding: 2px 6px 2px 26px;
        bottom: 80px;
        left: 0;
        //color: #08bf32;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
        border-radius: 20px;
        cursor: pointer;
        z-index: 10000;
        svg {
            color: #08bf32 !important;
        }
    }

</style>
