<template>
    <div id="robot-sticker" @click="robotStickerModalStatus = !robotStickerModalStatus">
        <font-awesome-icon icon="crop-alt"/>
        <robot-sticker-modal v-if="robotStickerModalStatus" @close="robotStickerModalStatus = false"></robot-sticker-modal>
    </div>
</template>

<script>
import RobotStickerModal from './RobotStickerModal.vue';

export default {
    name: 'RobotSticker',
    components: {
        RobotStickerModal
    },
    props: {
        // options: Object
    },
    data() {
        return {
            robotStickerModalStatus: false,
        }
    },
    methods: {

    },
    mounted() {

    }
}
</script>

<style lang="scss" scoped>

    #robot-sticker {
        position: fixed;
        margin-left: -24px;
        padding: 2px 6px 2px 26px;
        bottom: 110px;
        left: 0;
        //color: #08bf32;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
        border-radius: 20px;
        cursor: pointer;
        z-index: 10000;
        svg {
            color: #08bf32 !important;
        }
    }

</style>
