<template>
    <div class="modal-cnd">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Автогенерация скриншотов</h1>
                <span class="close" @click.stop="close">&times;</span>
            </div>
            <div class="modal-body">
                <iframe id="robot-sticker__iframe-cnd" :src="url"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-cnd" @click.stop="close">Закрыть</button>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'RobotStickerModal',
    data() {
        return {
            url: 'https://law-new.ddev.cnd/robot#/'
        }
    },
    methods: {
        close() {
            this.$emit('close');
        },
    },
    mounted() {

    }
}
</script>

<style scoped lang="scss">

.modal-cnd {
    position: fixed;
    display: flex;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: animate;
        animation-duration: 0.4s;

        .modal-header {
            position: relative;
            padding: 10px 20px;

            h1 {
                margin: 0;
                font-family: auto;
                text-align: center;
            }

            .close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                line-height: 8px;
                cursor: pointer;
                font-size: 1.3em;
            }
        }

        .modal-body {
            display: flex;
            padding: 10px 20px;
            text-align: left;
            max-height: 550px;
            overflow-y: auto;

            iframe {
                width: 100%;
                min-height: 400px;
                border: none;
            }
        }

        .modal-footer {
            padding: 10px 20px;
            text-align: right;

            button {
                margin-left: 15px;
            }
        }
    }
}

@keyframes animate {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

</style>
