<template>
    <div id="integration-modules" @click="showForm">
        <font-awesome-icon icon="dice-d20"/>
    </div>
</template>

<script>
    export default {
        name: 'IntegrationModules',
        components: {

        },
        data() {
            return {

            }
        },
        computed: {

        },
        methods: {
            showForm() {
                document.getElementById('integration-modules__modal-container-cnd').style.display = 'flex';
            }
        },
        watch: {

        },
        mounted() {

        }
    }
</script>

<style lang="scss" scoped>
    #integration-modules {
        position: fixed;
        margin-left: -23px;
        padding: 2px 6px 2px 26px;
        bottom: 50px;
        left: 0;
        color: #08bf32;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
        border-radius: 20px;
        cursor: pointer;
        z-index: 10000;
    }
    #integration-modules svg {
      animation: rotating 8s linear infinite;
    }
    @keyframes rotating {
      0% {
        transform: rotate(0deg);
        color: red;
      }
      25% {
        color: green;
      }
      50% {
        color: blue;
      }
      75% {
        color: green;
      }
      100% {
        transform: rotate(360deg);
        color: red;
      }
    }
</style>
