<template>
    <div id="integration-modules__modal-container-cnd" class="modal-cnd">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" @click="close">&times;</span>
                <h3>Диспетчер интеграционных модулей</h3>
            </div>
            <div class="modal-body">
                <div v-if="modules.length">
                    <table>
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Статус</th>
                            <th>Триггеры</th>
                            <th>Включить логирование</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(module, index) in modules">
                            <td>{{ module.name }}</td>
                            <td>{{ module.status }}</td>
                            <td>{{ Array.isArray(module.trigger) ? module.trigger.join(', ') : module.trigger }}</td>
                            <td><input type="checkbox"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-cnd" @click="close">Закрыть</button>
            </div>
        </div>
    </div>
</template>

<script>
    import { registry } from '../../services/IntegrationModules/Registry';

    export default {
        name: 'IntegrationModulesForm',
        data() {
            return {
                modules: []
            }
        },
        computed: {

        },
        watch: {

        },
        methods: {
            close() {
                document.getElementById('integration-modules__modal-container-cnd').style.display = 'none';
            },
            register(data) {
                console.log('data', data);
                this.modules = data;
            }
        },
        mounted() {
            this.modules = registry.getData();
            registry.subscribe(this.register);
        }
    }
</script>

<style lang="scss" scoped>
    h1, h2, h3, h4 {
        font-weight: 400;
    }
    .modal-cnd {
        position: fixed;
        display: none;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,.4);
        user-select: none;
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            max-width: 80%;
            min-width: 25%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
            .modal-header {
                position: relative;
                padding: 10px 20px;
                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                    line-height: 8px;
                    cursor: pointer;
                    font-size: 1.3em;
                }
            }
            .modal-body {
                padding: 10px 20px;
                text-align: left;
                table {
                    thead {
                        tr {
                            text-align: center;
                        }
                    }
                    tbody {
                        tr {
                            text-align: center;
                        }
                    }
                }
            }
            .modal-footer {
                padding: 10px 20px;
                text-align: right;
            }
        }
    }

    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }
</style>