<template>
    <div id="custom-notifications__modal-container-cnd" class="modal-cnd" v-if="events.length">
        <div class="modal-content">
            <div class="modal-header">
<!--                <span class="close" @click="close">&times;</span>-->
                <h2>{{ currentEvent.description }}</h2>
            </div>
            <div class="modal-body">
                <div v-html="content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-cnd" @click="close">Понятно</button>
            </div>
        </div>
    </div>
</template>

<script>
const SERVER_ERROR_MESSAGE = 'Обнружены проблемы работы сервера. Пожалуйста, попробуйте еще раз или обратитесь к администратору.';

import CustomNotificationsService from "../../services/api/CustomNotificationsService";

export default {
    components: {

    },
    data() {
        return {
            user: null,
            events: [],
            currentEvent: null,
            content: '',
        }
    },
    watch: {
        currentEvent (event) {
            if (event) {
                const parser = new DOMParser();
                // const document = parser.parseFromString(event.content, 'text/html');
                // console.log('content', this.content);
                // const content = document.getElementsByTagName('body');
                this.content = event.content;
            }
        }
    },
    methods: {
        close() {
            // UserApiService.setEventWatched({
            //     custom_event_id: this.currentEvent.id,
            //     user_id: this.user.id
            // });
            // console.log('event update', {
            //     custom_event_id: this.currentEvent.id,
            //     user_id: this.user.id
            // });
            // this.events.shift();
            // if (this.events.length) {
            //     this.currentEvent = this.events[0];
            // } else {
            //     document.getElementById('custom-notifications__modal-container-cnd').style.display = 'none';
            // }
        },
    },
    mounted() {
        let self = this;
        (async function () {
            self.user = await a9n.user();
            console.log('user', self.user);

            const eventsResponse = await CustomNotificationsService.getUserNotifications(self.user.id, window.location.href);
            if (eventsResponse.status === 200) {
                self.events = eventsResponse.data;
            }
            console.log('events', self.events);
            self.currentEvent = self.events[0];
        })();
    }
}
</script>

<style lang="scss" scoped>

h1, h2, h3, h4 {
    font-family: Roboto;
    font-weight: 400;
}

.modal-cnd {
    position: fixed;
    //display: none;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    user-select: none;

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        max-width: 80%;
        min-width: 25%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: animatetop;
        animation-duration: 0.4s;

        .modal-header {
            position: relative;
            padding: 10px 20px;

            .close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                line-height: 8px;
                cursor: pointer;
                font-size: 1.3em;
            }
        }

        .modal-body {
            padding: 10px 20px;
            text-align: left;

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                label {
                    cursor: pointer;
                }
            }
        }

        .modal-footer {
            padding: 10px 20px;
            text-align: right;
        }
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

</style>
