<template>
    <div id="create-task__modal-container-cnd" class="modal-cnd">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" @click="close">&times;</span>
                <h2>Создание подзадачи</h2>
            </div>
            <div class="modal-body">
                <div v-if="coordinators.length && !spinnerStatus && !info">
                    <h3>Пожалуйста, укажите от чьего имени требуется расписать задачу</h3>
                    <ul>
                        <li v-for="coordinator in coordinators">
                            <label @click="selectCoordinator">
                                <input type="radio" v-model="selectedCoordinator" :value="coordinator">
                                {{ coordinator.name }}
                            </label>
                        </li>
                    </ul>
                </div>
                <Spinner :title="spinnerTitle" :seen="spinnerStatus" :fs="false"/>
                <Spinner :title="spinnerTitleCoords" :seen="spinnerStatusCoords" :fs="false"/>
                <div class="info" v-if="info">
                    <h4>{{ info }}</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-cnd primary" @click="createTask" v-if="!spinnerStatus && !info">
                    Расписать
                </button>
                <button type="button" class="button-cnd primary" @click="redirect" v-if="isCreated">Перейти</button>
                <button type="button" class="button-cnd" @click="close">Закрыть</button>
            </div>
        </div>
    </div>
</template>

<script>
const SERVER_ERROR_MESSAGE = 'Обнружены проблемы работы сервера. Пожалуйста, попробуйте еще раз или обратитесь к администратору.';

import Spinner from "../../vue-components/base/Spinner.vue";
import UserApiService from "../../services/api/UserApiService";
import TaskApiService from "../../services/api/TaskApiService";

export default {
    components: {
        Spinner
    },
    data() {
        return {
            coordinators: [],
            employees: [],
            selectedCoordinator: {
                name: null,
                id: null
            },
            selectedEmployee: {
                name: null,
                id: null
            },
            taskName: null,
            taskDescription: null,
            superTaskId: null,
            spinnerTitle: '',
            spinnerStatus: false,
            info: null,
            isCreated: false,
            lastCreatedTask: null,
            spinnerTitleCoords: '',
            spinnerStatusCoords: false,
        }
    },
    computed: {},
    methods: {
        close() {
            document.getElementById('create-task__modal-container-cnd').style.display = 'none';
        },
        selectCoordinator(coordinator) {
            this.selectedCoordinator = coordinator;
            console.log('selected', this.selectedCoordinator);
        },
        loadCoordinatedByMe() {
            let self = this;
            return new Promise(async (resolve, reject) => {
                try {
                    const response = await UserApiService.getCoordinatedByMe(self.selectedCoordinator.id);
                    resolve(response);
                } catch (e) {
                    reject(e);
                }
            });
        },
        getCoordinatedByMe() {
            let self = this;
            return new Promise(async (resolve, reject) => {
                try {
                    const response = await self.loadCoordinatedByMe();
                    if (response.status === 200) {
                        for (let i = 0, counter = response.data.length; i < counter; i++) {
                            self.coordinators.push(response.data[i]);
                        }
                    }
                    console.log('coordinators', self.coordinators);
                    resolve();
                } catch (e) {
                    reject(e);
                }
            });
        },
        selectEmployee(employee) {
            this.selectedEmployee = employee;
            console.log('selected', this.selectedEmployee);
        },
        // loadEmployeeList() {
        //     return new Promise(async (resolve, reject) => {
        //         try {
        //             resolve(await EmployeeReportApiService.getList());
        //         } catch (e) {
        //             reject(e);
        //         }
        //     });
        // },
        // getEmployeeList() {
        //     let self = this;
        //     return new Promise(async (resolve, reject) => {
        //         try {
        //             const response = await self.loadEmployeeList();
        //             console.log('employees', response);
        //             if (response.status === 200) {
        //                 for (let i = 0, counter = response.data.length; i < counter; i++) {
        //                     self.employees.push(response.data[i]);
        //                 }
        //             }
        //             resolve();
        //         } catch (e) {
        //             reject (e);
        //         }
        //     });
        // },
        createTask() {
            let self = this;
            (async function ($) {
                self.enableSpinner('Создается подзадача. Пожалуйста, ожидайте...');
                self.taskName = $('body').find('div.desktop div.Itemauto.Itemrow > div').first().text();
                self.taskDescription = $('body').find('div.desktop div[data-name=description]')
                    .children(':first-child')
                    .children(':first-child')
                    .children(':first-child')
                    .children(':first-child')
                    .children(':first-child')
                    .children(':first-child')
                    .text();
                let pathname = window.location.pathname;
                let pathnameParts = pathname.split('/');
                for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
                    if (pathnameParts[i] === 'task' || pathnameParts[i] === 'Task') {
                        self.superTaskId = pathnameParts[i + 1];
                    }
                }
                const data = {
                    taskName: self.taskName,
                    taskDescription: self.taskDescription,
                    superTaskId: self.superTaskId,
                    responsible: self.selectedCoordinator.id,
                    responsible2: self.selectedEmployee.id
                };
                try {
                    const response = await TaskApiService.createTask(data);
                    if (response.status === 200 && response['data']['isSuccess']) {
                        self.lastCreatedTask = response['data']['data'];
                        self.info = 'Задача успешно расписана. Вы можете перейти на новую задачу по нажатию на кнопку "Перейти"';
                        self.isCreated = true;
                    } else {
                        self.info = SERVER_ERROR_MESSAGE;
                        console.error(response['data']['reasons']);
                    }
                } catch (e) {
                    self.info = SERVER_ERROR_MESSAGE;
                }
                self.disableSpinner();
            })(jQuery);
        },
        redirect() {
            window.location.href = window.location.href.replace(this.superTaskId, this.lastCreatedTask.id);
        },
        enableSpinner(message) {
            this.spinnerTitle = message;
            this.spinnerStatus = true;
        },
        disableSpinner() {
            this.spinnerStatus = false;
            this.spinnerTitle = '';
        }
    },
    mounted() {
        let self = this;
        (async function () {
            const user = await a9n.user();
            self.coordinators.push({
                id: user.id,
                name: user.name
            });
            self.selectedCoordinator = {
                id: user.id,
                name: user.name
            };
            self.spinnerTitleCoords = 'Формируется список координируемых сотрудников';
            self.spinnerStatusCoords = true;
            await self.getCoordinatedByMe();
            // await self.getEmployeeList();
            self.spinnerStatusCoords = false;
        })();
    }
}
</script>

<style lang="scss" scoped>
.mx-datepicker-popup {
    z-index: 10000 !important;
}

h1, h2, h3, h4 {
    font-family: Roboto;
    font-weight: 400;
}

.modal-cnd {
    position: fixed;
    display: none;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    user-select: none;

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        max-width: 80%;
        min-width: 25%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: animatetop;
        animation-duration: 0.4s;

        .modal-header {
            position: relative;
            padding: 10px 20px;

            .close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                line-height: 8px;
                cursor: pointer;
                font-size: 1.3em;
            }
        }

        .modal-body {
            padding: 10px 20px;
            text-align: left;

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                label {
                    cursor: pointer;
                }
            }
        }

        .modal-footer {
            padding: 10px 20px;
            text-align: right;
        }
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

</style>