<template>
    <div id="create-task__modal-container-cnd_test" class="modal-cnd">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" @click="close">&times;</span>
                <h2>Создание подзадачи</h2>
            </div>
            <div class="modal-body">
                <div v-if="tags.length">
                    <div>Задача будет создана с метками: <span style="color:#4aabde" v-for="tag in tags">{{ tag.name }} </span></div>
                    <br/>
                </div>
                <div v-if="coordinators.length && !spinnerStatus && !info">
                    <h3>Постановщик</h3>
                    <ul>
                        <li v-for="coordinator in coordinators">
                            <label>
                                <input type="radio" v-model="selectedCoordinator" :value="coordinator" @change="selectCoordinator(coordinator)">
                                {{ coordinator.name }}
                            </label>
                        </li>
                    </ul>
                    <br/>
                    <h3>Ответственный
                        <label>
                            <input type="checkbox" v-model="isAudited"/>
                            <small style="font-size: 12px">Сделать аудитором текущей задачи</small>
                        </label>
                    </h3>
                    <label>
                        <input type="text" v-model="search"/>
                        <span>{{ visibleEmployees.length + ' / ' + employees.length }}</span>
                    </label>
                    <br/>
                    <br/>
                    <ul>
                        <li v-for="employee in visibleEmployees">
                            <label @click="selectEmployee(employee)">
                                <input type="radio" v-model="selectedEmployee" :value="employee">
                                {{ employee.name }}  ( {{ employee.position }} )
                            </label>
                        </li>
                    </ul>
                </div>
                <Spinner :title="spinnerTitle" :seen="spinnerStatus" :fs="false"/>
                <Spinner :title="spinnerTitleCoords" :seen="spinnerStatusCoords" :fs="false"/>
                <div class="info" v-if="info">
                    <h4>{{ info }}</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-cnd primary" @click="createTask" v-if="!spinnerStatus && !info && allowToCreate">
                    Расписать
                </button>
                <button type="button" class="button-cnd primary" @click="redirect" v-if="isCreated">Перейти</button>
                <button type="button" class="button-cnd" @click="close">Отмена</button>
            </div>
        </div>
    </div>
</template>

<script>
const SERVER_ERROR_MESSAGE = 'Обнаружены проблемы работы сервера. Пожалуйста, обратитесь к администратору.';
const KEPIZO_TAG_ID = 1004155;

import Spinner from "../../vue-components/base/Spinner.vue";
import UserApiService from "../../services/api/UserApiService";
import TaskApiService from "../../services/api/TaskApiService";
import EmployeeReportApiService from "../../services/report_api/EmployeeReportApiService";

export default {
    components: {
        Spinner
    },
    data() {
        return {
            coordinators: [],
            employees: [],
            visibleEmployees: [],
            selectedCoordinator: null,
            selectedEmployee: null,
            taskName: null,
            taskDescription: null,
            superTaskId: null,
            spinnerTitle: '',
            spinnerStatus: false,
            info: null,
            isCreated: false,
            lastCreatedTask: null,
            spinnerTitleCoords: '',
            spinnerStatusCoords: false,
            search: '',
            isAudited: true,
            taskHasKepizoTag: false,
            taskHasKepizoOwner: false,
            tags: [],
            kepizoCreatorsListIds: [
                1000529, // Багреева Мария Андреевна
                1000807, // Викторова Зоя Сергеевна
                1000013, // Маркианов Андрей Владимирович
                1000506, // Стасенко Михаил Юрьевич
                1000864, // Стрюченко Владислав Юрьевич
                1000868, // Тежаева Асият Борисовна
                1000511, // Васильева Анна Владиславовна
                1000509, // Закревская Наталия Александровна
                1000510, // Королева Ольга Григорьевна
                1000563, // Минаева Оксана Владимировна
                1000504, // Ефимов Владимир Владимирович
                1000005, // admin
            ],
        }
    },
    computed: {
        allowToCreate: function () {
            console.log('allowToCreate', !!this.selectedEmployee && !!this.selectedCoordinator);
            return !!this.selectedEmployee && !!this.selectedCoordinator;
        }
    },
    methods: {
        close() {
            document.getElementById('create-task__modal-container-cnd_test').style.display = 'none';
        },
        selectCoordinator(coordinator) {
            this.selectedCoordinator = coordinator;
            console.log('selected', this.selectedCoordinator);
            if (this.taskHasKepizoTag === false) {
                if (this.taskHasKepizoOwner === false && this.kepizoCreatorsListIds.includes(parseInt(coordinator.id))) {
                    this.tags.push({
                        id: KEPIZO_TAG_ID,
                        name: 'Поручение КЭПиИЗО',
                        contentType: 'Tag',
                    });
                    this.taskHasKepizoOwner = true;
                } else {
                    this.tags = this.tags.filter((tag) => {
                        if (tag.id === KEPIZO_TAG_ID) return false;
                    });
                    this.taskHasKepizoOwner = false;
                }
            }
        },
        loadCoordinatedByMe() {
            let self = this;
            return new Promise(async (resolve, reject) => {
                try {
                    const response = await UserApiService.getCoordinatedByMe(self.selectedCoordinator.id);
                    resolve(response);
                } catch (e) {
                    reject(e);
                }
            });
        },
        getCoordinatedByMe() {
            let self = this;
            return new Promise(async (resolve, reject) => {
                try {
                    const response = await self.loadCoordinatedByMe();
                    console.log('coordinated', response);
                    if (response.status === 200) {
                        for (let i = 0, counter = response.data.length; i < counter; i++) {
                            self.coordinators.push(response.data[i]);
                        }
                    }
                    resolve();
                } catch (e) {
                    reject(e);
                }
            });
        },
        selectEmployee(employee) {
            this.selectedEmployee = employee;
            console.log('selected', this.selectedEmployee);
        },
        loadEmployeeList() {
            return new Promise(async (resolve, reject) => {
                try {
                    resolve(await EmployeeReportApiService.getList());
                } catch (e) {
                    reject(e);
                }
            });
        },
        getEmployeeList() {
            let self = this;
            return new Promise(async (resolve, reject) => {
                try {
                    const response = await self.loadEmployeeList();
                    if (response.status === 200) {
                        for (let i = 0, counter = response.data.length; i < counter; i++) {
                            self.employees.push(response.data[i]);
                        }
                    }
                    self.visibleEmployees = self.employees;
                    resolve();
                } catch (e) {
                    reject (e);
                }
            });
        },
        createTask() {
            let self = this;
            (async function ($) {
                self.enableSpinner('Создается подзадача. Пожалуйста, ожидайте...');
                self.taskName = $('body').find('div.desktop div.Itemauto.Itemrow > div').first().text();
                self.taskDescription = $('body').find('div.desktop div[data-name=description]')
                    .children(':first-child')
                    .children(':first-child')
                    .children(':first-child')
                    .children(':first-child')
                    .children(':first-child')
                    .children(':first-child')
                    .text();
                // let pathname = window.location.pathname;
                // let pathnameParts = pathname.split('/');
                // for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
                //     if (pathnameParts[i] === 'task' || pathnameParts[i] === 'Task') {
                //         self.superTaskId = pathnameParts[i + 1];
                //     }
                // }
                const data = {
                    taskName: self.taskName,
                    taskDescription: self.taskDescription,
                    superTaskId: self.superTaskId,
                    owner: self.selectedCoordinator.id,
                    responsible: self.selectedEmployee.employee_id,
                    isAudited: self.isAudited,
                };
                console.log('data', data);
                try {
                    const response = await TaskApiService.createTask(data);
                    if (response.status === 200 && response['data']['isSuccess']) {
                        self.lastCreatedTask = response['data']['data'];
                        self.info = 'Задача успешно расписана. Вы можете перейти на новую задачу по нажатию на кнопку "Перейти"';
                        self.isCreated = true;
                    } else {
                        self.info = SERVER_ERROR_MESSAGE;
                        console.error(response['data']['reasons']);
                    }
                } catch (e) {
                    self.info = SERVER_ERROR_MESSAGE;
                }
                self.disableSpinner();
            })(jQuery);
        },
        redirect() {
            window.location.href = window.location.href.replace(this.superTaskId, this.lastCreatedTask.id);
        },
        enableSpinner(message) {
            this.spinnerTitle = message;
            this.spinnerStatus = true;
        },
        disableSpinner() {
            this.spinnerStatus = false;
            this.spinnerTitle = '';
        }
    },
    watch: {
        search(search) {
            if (search) {
                const current = [];
                this.employees.forEach(employee => {
                    if (employee.name.toLowerCase().includes(search.toLowerCase())) {
                        current.push(employee);
                    }
                });
                this.visibleEmployees = current;
            } else {
                this.visibleEmployees = this.employees;
            }
        },
        visibleEmployees(employees) {
            if (employees.length > 0) {
                this.selectedEmployee = employees[0];
            } else {
                this.selectedEmployee = null;
            }
        }
    },
    mounted() {
        let pathname = window.location.pathname;
        let pathnameParts = pathname.split('/');
        for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
            if (pathnameParts[i] === 'task' || pathnameParts[i] === 'Task') {
                this.superTaskId = pathnameParts[i + 1];
            }
        }
        let self = this;
        (async function () {
            const user = await a9n.user();
            const baseCoordinator = {
                id: user.id,
                name: user.name
            };
            self.coordinators.push(baseCoordinator);
            self.selectCoordinator(baseCoordinator);
            self.spinnerTitleCoords = 'Формируется список координируемых и ответственных сотрудников...';
            self.spinnerStatusCoords = true;
            let tags = [];
            const response = await TaskApiService.getTaskById(self.superTaskId);
            if (response && response.status === 200) {
                // TODO: get super task owner
                console.log('super task', response);
                const superTaskOwnerId = response.data.data.owner.id;
                tags = response.data.data.tags;
                if (self.taskHasKepizoOwner === false) {
                    tags.forEach((tag) => {
                        if (tag.id == KEPIZO_TAG_ID) {
                            self.tags.push({
                                id: KEPIZO_TAG_ID,
                                name: 'Поручение КЭПиИЗО',
                                contentType: 'Tag',
                            });
                            self.taskHasKepizoTag = true;
                        }
                    });
                }
                if (self.kepizoCreatorsListIds.includes(parseInt(superTaskOwnerId))) {
                    self.tags.push({
                        id: KEPIZO_TAG_ID,
                        name: 'Поручение КЭПиИЗО',
                        contentType: 'Tag',
                    });
                    self.taskHasKepizoTag = true;
                }
            }
            await self.getCoordinatedByMe();
            await self.getEmployeeList();
            self.spinnerStatusCoords = false;
        })();
    }
}
</script>

<style lang="scss" scoped>
.mx-datepicker-popup {
    z-index: 10000 !important;
}

h1, h2, h3, h4 {
    font-family: Roboto;
    font-weight: 400;
}

.modal-cnd {
    position: fixed;
    display: none;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    user-select: none;

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        max-width: 80%;
        min-width: 25%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: animatetop;
        animation-duration: 0.4s;

        .modal-header {
            position: relative;
            padding: 10px 20px;

            .close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                line-height: 8px;
                cursor: pointer;
                font-size: 1.3em;
            }
        }

        .modal-body {
            width: 650px;
            height: 280px;
            padding: 10px 20px;
            text-align: left;

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                max-height: 100px;
                overflow-y: scroll;

                label {
                    cursor: pointer;
                }
            }
        }

        .modal-footer {
            padding: 10px 20px;
            text-align: right;
        }
    }
    input {
        border-radius: 10px;
        border: 1px solid rgba(0,0,0,.2);
        padding: 4px 8px;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

</style>
