<template>
    <div>
        <div class="cardEvent" v-for="(event, index) in events" @click="selectEvent(event, $event)" v-bind:style="bindStyle(event)" :title="event.name">
            {{ event.name }}
        </div>
    </div>
</template>

<script>
    export default {
        components: {

        },
        props: {
            events: Array
        },
        data() {
            return {

            }
        },
        computed: {

        },
        methods: {
            selectEvent(event, e) {
                this.$emit('eventSelected', event);
                (async function ($) {
                    $('.cardEvent').each(function () {
                        $(this).removeClass('selected');
                    });
                    $(e.target).addClass('selected');
                })(jQuery);
            },
            bindStyle(event) {
                console.log('event', event);
                return {
                    top: event['prevTop'] + '.px',
                    left: event['left'] + '.px',
                    height: event['height'] + '.px',
                    position: 'absolute',
                    margin: '0 1px',
                    width: '118px',
                    backgroundColor: '#e5eafa',
                    borderRadius: '4px',
                    textAlign: 'center',
                    cursor: 'pointer',
                }
            }
        },
        mounted() {
            // let self = this;
            // (async function($) {
            //     for (let i = 0, counter = self.events.length; i < counter; i++) {
            //         let $event = $(`<div class="cardEvent">${self.events[i]['dataValue']}</div>`);
            //         $event.on('click', function (event) {
            //             const $target = $(event.target);
                        // $('div.table').find('.selected').each(function (i, e) {
                        //     $(this).removeClass('selected');
                        // });
                        // $target.addClass('selected');
                        // self.currentEvent = self.events[i]['dataValue'];
                    // });
                    // $event.css({
                    //     "top": self.events[i]['prevTop'],
                    //     "left": self.events[i]['left'],
                    //     "height": self.events[i]['height'],
                    // });
                    // $('div.table').append($event);
            //     }
            // })(jQuery);
            console.log('events', this.events);
        }
    }
</script>

<style lang="scss">
    .cardEvent {
        &.selected {
            color: #fff !important;
            background-color: #08bf32 !important;
        }
    }
</style>