<template>
    <div id="assign-event__modal-container-cnd" class="modal-cnd">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" @click="close">&times;</span>
                <h2 class="title">Привязка событий</h2>
            </div>
            <div class="modal-body">
                <div class="datetime-section">
                    <div>
                        <h4>Начало события</h4>
                        <date-picker v-model="datetimeFrom"></date-picker>
                    </div>
                    <div>
                        <h4>Окончание события</h4>
                        <date-picker v-model="datetimeTo"></date-picker>
                    </div>
                </div>
                <Spinner :title="spinnerTitle" :seen="spinnerStatus" :fs="false"/>
                <div class="table" v-if="timeSchedule && events.length && !info">
                    <div class="row header">
                        <div class="cell"></div>
                        <div class="cell" v-for="(day, index) in days">{{ day ? weekdays[day.getDay()] : '' }}</div>
                    </div>
                    <div class="row" v-for="(time, timeIndex) in timeSchedule">
                        <div class="cell">{{ getFormattedTimeCell(time) ? time : "&nbsp;" }}</div>
                        <div class="cell" v-for="(day, dayIndex) in days"><div class="event" v-if="calculateCellValue(day, time)" :data-value="calculateCellValue(day, time)" :data-id="calculateCellId(day, time)"></div></div>
                    </div>
                    <event-block-drawer :events="eventMap" v-if="eventMap.length" v-on:eventSelected="selectEvent">

                    </event-block-drawer>
                </div>
                <div class="info" v-if="info">
                    <h3>{{info}}</h3>
                </div>
            </div>
            <div class="modal-footer">
<!--                <button type="button" class="button-cnd primary" @click="assign" v-if="selected && !info && !spinnerStatus">Привязать</button>-->
                <button type="button" class="button-cnd" @click="assign" v-if="selected">Привязать</button>
                <button type="button" class="button-cnd" @click="reload" v-if="!spinnerStatus">Обновить</button>
                <button type="button" class="button-cnd" @click="close">Закрыть</button>
            </div>
        </div>
    </div>
</template>

<script>
    const GRAPH_EVENT_LOADING_MESSAGE = 'Загружается список событий. Пожалуйста, ожидайте.';
    const GRAPH_EVENT_GRAPH_MESSAGE = 'Формируется график событий. Пожалуйста, ожидайте.';
    const EMPTY_OWNER_MESSAGE = 'Пожалуйста, укажите пользователя системы, чей календарь требуется отобразить.';
    const EMPTY_EVENT_MESSAGE = 'События не обнаружены. Попробуйте изменить условия поиска.';
    const SERVER_ERROR_MESSAGE = 'Обнаружены проблемы работы сервера. Пожалуйста, попробуйте еще раз или обратитесь к администратору.';
    const EVENT_ASSIGN_MESSAGE = 'Производится привязка события. Пожалуйста, ожидайте.';
    const EVENT_ASSIGN_SUCCESS_MESSAGE = 'Событие успешно привязано.';

    import Spinner from "../../vue-components/base/Spinner.vue";
    import EventBlockDrawer from "./EventBlockDrawer.vue";
    import EventApiService from "../../services/api/EventApiService.js";
    import DatePicker from 'vue2-datepicker';
    import DomManipulation from "../../DomManipulation.js";
    import 'vue2-datepicker/scss/index.scss';

    export default {
        components: {
            EventBlockDrawer,
            Spinner,
            DatePicker
        },
        data() {
            return {
                dealId: null,
                events: [],
                spinnerStatus: true,
                spinnerTitle: '',
                selected: null,
                datetimeFrom: null,
                datetimeTo: null,
                info: null,
                startDayOfWeek: null,
                weekdays: [
                    'Воскресенье',
                    'Понедельник',
                    'Вторник',
                    'Среда',
                    'Четверг',
                    'Пятница',
                    'Суббота',
                ],
                timeSchedule: [],
                preselectedEventMap: [],
                eventMap: []
            }
        },
        computed: {
            days: function () {
                let days = [];
                if (this.datetimeFrom && this.datetimeTo) {
                    const datetimeFrom = new Date(this.datetimeFrom.getTime());
                    const datetimeTo = new Date(this.datetimeTo.getTime());
                    const oneDay = 1000 * 60 * 60 * 24;
                    const start = Date.UTC(datetimeFrom.getFullYear(), datetimeFrom.getMonth(), datetimeFrom.getDate());
                    const end = Date.UTC(datetimeTo.getFullYear(), datetimeTo.getMonth(), datetimeTo.getDate());
                    const dayDiff = (end - start) / oneDay;
                    days.push(new Date(datetimeFrom.getTime()));
                    if (dayDiff >= 0) {
                        for (let i = 0; i < dayDiff; i++) {
                            datetimeFrom.setDate(datetimeFrom.getDate() + 1);
                            days.push(new Date(datetimeFrom.getTime()));
                        }
                    }
                }
                return days;
            }
        },
        methods: {
            close() {
                document.getElementById('assign-event__modal-container-cnd').style.display = 'none';
            },
            getDealId() {
                let pathname = window.location.pathname;
                let pathnameParts = pathname.split('/');

                for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
                    if (pathnameParts[i] === 'card') {
                        this.dealId = pathnameParts[i+1];
                        break;
                    }
                }
                if (!this.dealId) {
                    for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
                        if (pathnameParts[i] === 'card') {
                            this.dealId = pathnameParts[i-1];
                            break;
                        }
                    }
                }
                return null;
            },
            getEvents() {
                let self = this;
                return new Promise(async (resolve, reject) => {
                    self.spinnerStatus = true;
                    self.spinnerTitle = GRAPH_EVENT_LOADING_MESSAGE;
                    try {
                        const response = await self.loadEvents();
                        if (response['status'] === 'error') {
                            if (response['reason'] === 'Empty Owner') {
                                self.info = EMPTY_OWNER_MESSAGE;
                            } else {
                                self.info = SERVER_ERROR_MESSAGE;
                            }
                        }
                        if (response['status'] === 200) {
                            self.events = response['data'];
                            if (!self.events.length) {
                                self.info = EMPTY_EVENT_MESSAGE;
                            }
                        }
                        self.spinnerStatus = false;
                        resolve();
                    } catch (e) {
                        self.spinnerStatus = false;
                        self.info = SERVER_ERROR_MESSAGE;
                        reject(e);
                    }
                });
            },
            loadEvents() {
                let data = {
                    dealId: this.dealId,
                    from: this.datetimeFrom,
                    to: this.datetimeTo
                };
                return new Promise(async (resolve, reject) => {
                    try {
                        resolve(await EventApiService.getEvents(data));
                    } catch (e) {
                        reject(e);
                    }
                });
            },
            reload() {
                this.info = null;
                let self = this;
                (async function ($) {
                    self.events = [];
                    self.selected = null;
                    await self.getEvents();
                    await self.renderEvents();
                })(jQuery);
            },
            assign() {
                this.info = null;
                let self = this;
                (async function ($) {
                    self.events = [];
                    self.spinnerStatus = true;
                    self.spinnerTitle = EVENT_ASSIGN_MESSAGE;
                    let data = {
                        'dealId': self.dealId,
                        'events': [ self.selected ],
                    };
                    try {
                        const response = await EventApiService.assignEvents(data);
                        self.info = EVENT_ASSIGN_SUCCESS_MESSAGE;
                    } catch (e) {
                        self.info = SERVER_ERROR_MESSAGE;
                    }
                    self.spinnerStatus = false;
                    self.events = [];
                    self.selected = null;
                })(jQuery);
            },
            // assignEventByName() {
            //     // self.assignEventByName(self.eventMap[i]['dataValue']);
            //     let index = this.events.findIndex(el => el['Name'] === name);
            //     if (index !== -1) {
            //         this.selected = this.events[index];
            //         this.assign();
            //     }
            // },
            calculateCellValue(day, time) {
                const parts = time.split(':');
                const hours = parseInt(parts[0]);
                const minutes = parseInt(parts[1]);
                // const oneDay = 1000 * 60 * 60 * 24;
                let curTime = 0;
                if (hours === 0) {
                    if (minutes === 0) {
                        curTime = 0;
                    } else {
                        curTime = 1000 * 60 * minutes;
                    }
                } else {
                    if (minutes === 0) {
                        curTime = 1000 * 60 * 60 * hours;
                    } else {
                        curTime = (1000 * 60 * minutes) + (1000 * 60 * 60 * hours);
                    }
                }
                const nextTime =  1000 * 60 * 5 + curTime;
                const from = new Date(day.getTime() + curTime);
                const to = new Date(day.getTime() + nextTime);

                for (let i = 0, count = this.events.length; i < count; i++) {
                    const controlDateFrom = new Date(this.events[i]['From']);
                    const controlDateTo = new Date(this.events[i]['To']);

                    if (controlDateFrom.getTime() <= from.getTime() && controlDateTo.getTime() >= to.getTime()) {
                        return this.events[i]['Name'];
                    }
                }
            },
            calculateCellId(day, time) {
                const parts = time.split(':');
                const hours = parseInt(parts[0]);
                const minutes = parseInt(parts[1]);
                // const oneDay = 1000 * 60 * 60 * 24;
                let curTime = 0;
                if (hours === 0) {
                    if (minutes === 0) {
                        curTime = 0;
                    } else {
                        curTime = 1000 * 60 * minutes;
                    }
                } else {
                    if (minutes === 0) {
                        curTime = 1000 * 60 * 60 * hours;
                    } else {
                        curTime = (1000 * 60 * minutes) + (1000 * 60 * 60 * hours);
                    }
                }
                const nextTime =  1000 * 60 * 5 + curTime;
                const from = new Date(day.getTime() + curTime);
                const to = new Date(day.getTime() + nextTime);

                for (let i = 0, count = this.events.length; i < count; i++) {
                    const controlDateFrom = new Date(this.events[i]['From']);
                    const controlDateTo = new Date(this.events[i]['To']);

                    if (controlDateFrom.getTime() <= from.getTime() && controlDateTo.getTime() >= to.getTime()) {
                        return this.events[i]['Id'];
                    }
                }
            },
            generateTimeSchedule() {
                const hours = 21;
                const minutes = 60;
                for (let hour = 6; hour < hours; hour++) {
                    for (let minute = 0; minute < minutes; minute += 5) {
                        const curMinute = minute.toString().length === 2 ? minute : '0' + minute;
                        const curHour = hour.toString().length === 2 ? hour : '0' + hour;
                        this.timeSchedule.push(`${curHour}:${curMinute}`);
                    }
                }
            },
            getFormattedTimeCell(time) {
                let parts = time.split(':');
                if (parts[1] === '00') {
                    return time;
                } else {
                    return '';
                }
            },
            renderEvents() {
                this.preselectedEventMap = [];
                this.eventMap = [];
                if (this.events.length) {
                    let self = this;
                    (async function($) {
                        $('.cardEvent').remove().empty();
                        self.spinnerStatus = true;
                        self.spinnerTitle = GRAPH_EVENT_GRAPH_MESSAGE;
                        await DomManipulation.find('.event');
                        const $events = document.getElementsByClassName('event');
                        for (let i = 0, counter = $events.length; i < counter; i++) {
                            self.preselectedEventMap.push({
                                top: $events[i]['offsetTop'],
                                left: $events[i]['offsetLeft'],
                                name: $events[i].getAttribute('data-value'),
                                id: $events[i].getAttribute('data-id'),
                            });
                        }
                        for (let i = 0, counter = self.preselectedEventMap.length; i < counter; i++) {
                            let preEvent = self.preselectedEventMap[i];
                            let index = self.eventMap.findIndex(el => {
                                return (el['left'] === preEvent['left']) && ((preEvent['top'] - el['top']) === 2)
                            });
                            if (index !== -1) {
                                self.eventMap[index]['top'] += 2;
                                self.eventMap[index]['height'] += 2;
                            } else {
                                self.eventMap.push({
                                    top: preEvent['top'],
                                    prevTop: preEvent['top'],
                                    left: preEvent['left'],
                                    height: 2,
                                    name: preEvent['name'],
                                    id: preEvent['id']
                                });
                            }
                        }
                        self.spinnerStatus = false;
                    })(jQuery);
                }
            },
            calcDateRange() {
                this.datetimeFrom = new Date();
                this.datetimeFrom = new Date(`${this.datetimeFrom.getFullYear()}-${this.datetimeFrom.getMonth() + 1}-${this.datetimeFrom.getDate()}`);
                let curDate = new Date();
                this.datetimeTo = new Date(curDate.setDate(curDate.getDate() + 3));
                this.datetimeTo = new Date(`${this.datetimeTo.getFullYear()}-${this.datetimeTo.getMonth() + 1}-${this.datetimeTo.getDate()}`);
            },
            selectEvent(event) {
                this.selected = event;
            }
        },
        mounted() {
            this.generateTimeSchedule();
            this.getDealId();
            this.calcDateRange();

            let self = this;
            (async function () {
                await self.getEvents();
                DomManipulation.observe('#assign-event__modal-container-cnd', 'visibility', self.renderEvents);
            })();
        }
    }
</script>

<style lang="scss" scoped>
    $primary-color: rgba(0,0,0,75);

    .mx-datepicker-popup {
        z-index: 10000 !important;
    }
    h1, h2, h3, h4 {
        margin: .5em;
        font-weight: 400;
    }
    .modal-cnd {
        position: fixed;
        display: none;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: lighten($primary-color, 20);
        user-select: none;
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            max-width: 80%;
            min-width: 25%;
            color: $primary-color;
            font-family: sans-serif;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
            .modal-header {
                position: relative;
                padding: 10px 20px;
                .title {
                    margin-right: 12px;
                }
                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 12px;
                    line-height: 8px;
                    cursor: pointer;
                    font-size: 1.3em;
                }
            }
            .modal-body {
                padding: 10px 20px;
                text-align: center;
                .datetime-section {
                    display: flex;
                    justify-content: center;
                    > div {
                        padding: 10px;
                    }
                }
                .table {
                    margin-top: 35px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    width: 100%;
                    text-align: center;
                    .row {
                        display: flex;
                        justify-content: stretch;
                        &.header {
                            .cell {
                                height: 16px;
                            }
                        }
                        .cell {
                            height: 2px;
                            width: 120px;
                            .event {
                                position: relative;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                .info {
                    margin-top: 30px;
                }
            }
            .modal-footer {
                padding: 10px 20px;
                text-align: right;
            }
        }
    }

    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }

</style>