<template>
    <div id="inn__modal-container-cnd" class="modal-cnd" v-if="show">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" @click="close">&times;</span>
                <h2>Информация о заявителе</h2>
            </div>
            <div class="modal-body">
                <ul v-if="spinnerShow === false">
                    <li><label>Тип заявителя:</label><span>{{ data.type }}</span></li>
                    <li><label>ИНН заявителя:</label><span>{{ data.inn }}</span></li>
                    <li><label>ОГРН/ОГРНИП:</label><span>{{ data.ogrn }}</span></li>
                    <li><label>Наименование заявителя:</label><span>{{ data.name }}</span></li>
                    <li><label>Юридический адрес:</label><span>{{ data.address }}</span></li>
                </ul>
                <spinner2 v-if="spinnerShow"/>
                <p class="message error" v-if="errorMessage">{{ errorMessage }}</p>
                <p class="message success" v-if="successMessage">{{ successMessage }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-cnd primary" v-if="readyToSave" @click="moveToCard">Перенести в карточку</button>
                <button type="button" class="button-cnd" @click="close">Закрыть</button>
            </div>
        </div>
    </div>
</template>

<script>

const BASE_ERROR_MESSAGE = 'Что-то пошло не так. Пожалуйста, попробуйте еще раз или обратитесь к администратору.';
const $ = jQuery;

import nio from './api/nio';
import Spinner from './Spinner.vue';
import Spinner2 from './Spinner2.vue';

export default {
    components: {
        Spinner,
        Spinner2,
    },
    props: {
        options: Object
    },
    data() {
        return {
            show: false,
            content: '',
            data: {
                inn: null,
                ogrn: null,
                name: null,
                address: null,
                type: null,
            },
            spinnerShow: false,
            spinnerTitle: '',
            readyToSave: false,
            errorMessage: null,
            successMessage: null,
        }
    },
    methods: {
        close() {
            this.show = false;
        },
        getDealId() {
            let dealId = null;

            let pathnameParts = window.location.pathname.split('/');
            if (pathnameParts.includes('bp')) {
                for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
                    if (pathnameParts[i] === 'card') {
                        dealId = pathnameParts[ i + 1 ];
                        break;
                    }
                }
            } else {
                if (pathnameParts.includes('deals') && pathnameParts.includes('card')) {
                    for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
                        if (pathnameParts[i] === 'card') {
                            dealId = pathnameParts[ i - 1 ];
                            break;
                        }
                    }
                }
            }

            return dealId;
        },
        moveToCard() {
            const self = this;
            (async function() {
                self.spinnerShow = true;
                self.errorMessage = null;
                self.successMessage = null;
                self.readyToSave = false;
                const dealId = self.getDealId();
                try {
                    await nio.updateDeal(dealId, {
                        fields: Object.values(self.data),
                        user: self.options.user,
                        url: self.options.url
                    });
                    const $additionalInformationBlock = $('div:contains("Дополнительная информация")').last().parent().parent();
                    const ogrnFieldContainer = $additionalInformationBlock.find('span:contains("ОГРН/ОГРНИП")').last().closest('div');
                    const ogrnSpans = ogrnFieldContainer.find('span').last();
                    ogrnSpans.text(self.data.ogrn);
                    const nameFieldContainer = $additionalInformationBlock.find('span:contains("Наименование заявителя")').closest('div').last();
                    const nameSpans = nameFieldContainer.find('span').last();
                    nameSpans.text(self.data.name);
                    const addressFieldContainer = $additionalInformationBlock.find('span:contains("Юридический адрес")').closest('div').last();
                    const addressSpans = addressFieldContainer.find('span').last();
                    addressSpans.text(self.data.address);
                    const typeFieldContainer = $additionalInformationBlock.find('span:contains("Тип заявителя")').closest('div').last();
                    const typeSpans = typeFieldContainer.find('span').last();
                    typeSpans.text(self.data.type);
                    self.successMessage = 'Данные успешно перенесены в карточку';
                } catch (e) {
                    // TODO: unable to save
                    self.errorMessage = BASE_ERROR_MESSAGE;
                    self.readyToSave = true;
                    console.log('error', e);
                } finally {
                    self.spinnerShow = false;
                }
            })();
        }
    },
    mounted() {
        const self = this;
        (async function() {
            setInterval(function() {
                const $additionalInformationBlock = $('div:contains("Дополнительная информация")').last().parent().parent();
                if ($additionalInformationBlock.length) {
                    const $innFieldContainer = $additionalInformationBlock.find('span:contains("ИНН заявителя")').last().closest('div');
                    if ($innFieldContainer.length) {
                        const $textarea = $innFieldContainer.find('textarea');
                        if ($textarea.length) {
                            if ($textarea.data('busy') === true) {
                                // TODO: skipped intentionally...
                            } else {
                                $textarea.data('busy', true);
                                $textarea.on('input', function() {
                                    self.readyToSave = false;
                                    self.errorMessage = null;
                                    self.successMessage = null;
                                    self.top = $textarea[0].getBoundingClientRect().bottom;
                                    self.left = $textarea[0].getBoundingClientRect().left;
                                    self.show = true;
                                    const $this = $(this);
                                    const inn = $this.val();
                                    // console.log('inn', inn, inn.toString().length);
                                    if (inn.toString().length === 10 || inn.toString().length === 12) {
                                        self.errorMessage = null;
                                    } else {
                                        self.errorMessage = 'Некорректное значение ИНН';
                                        return;
                                    }
                                    self.spinnerShow = true;
                                    nio.getByInn(
                                        inn,
                                        {
                                            user: self.options.user,
                                            url: self.options.url
                                        })
                                        .then(res => {
                                            self.data.inn = inn;
                                            self.data.ogrn = res.data.rows[0][3];
                                            self.data.name = res.data.rows[0][4];
                                            self.data.address = res.data.rows[0][5];
                                            let type = null;
                                            switch (res.data.rows[0][6]) {
                                                case 0:
                                                    type = 'Индивидуальный предприниматель';
                                                    break;
                                                case 1:
                                                    type = 'Юридическое лицо';
                                                    break;
                                                case 2:
                                                    type = '';
                                                    break;
                                            }
                                            self.data.type = type;
                                            // don't save empty fields
                                            self.spinnerShow = false;
                                            if (res.data.rows[0][6] === 2) {
                                                self.errorMessage = 'Нет данных';
                                                return;
                                            }
                                            self.errorMessage = null;
                                            self.readyToSave = true;
                                        })
                                        .catch(err => {
                                            console.log('err', err);
                                            self.spinnerShow = false;
                                            self.errorMessage = null;
                                        });
                                });
                            }
                        }
                    }
                }
            }, 300);
        })();
    }
}
</script>

<style lang="scss" scoped>

.modal-cnd {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    margin: 10px;
    min-width: 480px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    overflow: auto;
    user-select: none;
    .modal-content {
        width: 100%;
        background-color: #4e4e4e;
        padding: 0;
        color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        animation-name: animate;
        animation-duration: 0.4s;
        .modal-header {
            position: relative;
            padding: 10px 20px;
            .close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                line-height: 8px;
                cursor: pointer;
                font-size: 1.3em;
            }
        }
        .modal-body {
            padding: 10px 20px;
            text-align: left;
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    margin-bottom: 4px;
                    label {
                        display: inline-block;
                        width: 180px;
                        padding-right: 6px;
                    }
                    span {
                        font-weight: bolder;
                    }
                }
            }
            p {
                &.message {
                    margin: 1em 0;
                    font-weight: bold;
                }
                &.error {
                    color: red;
                }
                &.success {
                    color: #08bf32;
                }
            }
        }
        .modal-footer {
            padding: 10px 20px;
            text-align: right;
        }
    }
}

@keyframes animate {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

</style>
