<template>
    <div class="container">
        <div class="preloader">
            <div class="preloader__ring">
                <template v-for="s1 in ringSectors">
                    <div class="preloader__sector" v-if="small[s1]">{{ small[s1] }}</div>
                    <div class="preloader__sector" v-else></div>
                </template>
            </div>
            <div class="preloader__ring">
                <template v-for="s2 in ringSectors">
                    <div class="preloader__sector" v-if="text[s2]">{{ text[s2] }}</div>
                    <div class="preloader__sector" v-else></div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'Spinner',
    data() {
        return {
            small: '  ssr.mos.ru ',
            text: '  система совместной работы ',
            abbr: ' ССР ',
            ringSectors: 30,
        }
    }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
$ringRadius: 2.5rem;
$ringSectors: 30;
$animDuration: 10s;

.container {
    color: #fff;
    //background-color: #000;

    .preloader {
        display: flex;
        animation: tiltSpin $animDuration linear infinite;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 8em;

        &, &__ring {
            transform-style: preserve-3d;
        }

        &__ring {
            animation-name: spin;
            animation-duration: $animDuration/2;
            animation-timing-function: inherit;
            animation-iteration-count: inherit;
            font-size: 0.8em;
            position: relative;
            height: 1.5rem;
            width: 0.8rem;

            &:nth-child(1) {
                line-height: 20px;
                animation-direction: reverse;
            }

            &:nth-child(2) {
                line-height: 22px;
                text-transform: uppercase;
                animation-direction: alternate;
            }
        }
        &__sector {
            font-weight: 400;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            transform: translateZ($ringRadius);
            &, &:empty:before {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            &:empty:before {
                background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
                //background: linear-gradient(transparent 45%, red 55%, transparent 55%)
                content: "";
            }
            @for $s from 2 through $ringSectors {
                &:nth-child(#{$s}) {
                    $angle: (360deg / $ringSectors) * ($s - 1);
                    transform: rotateY($angle) translateZ($ringRadius);
                }
            }
        }
    }
}
/* Animations */
@keyframes tiltSpin {
    from {
        transform: rotateY(0) rotateX(30deg);
    }
    to {
        transform: rotateY(1turn) rotateX(30deg)
    }
}
@keyframes spin {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(1turn);
    }
}
</style>
