<template>
    <div id="form-agenda__modal-container-cnd" class="modal-cnd">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" @click="close">&times;</span>
                <h3>Формирование повестки</h3>
            </div>
            <div class="modal-body">
                <Spinner :title="spinnerTitle" :seen="spinnerStatus" :fs="false"/>
                <form v-if="!spinnerStatus && !info">
                    <fieldset>
                        <legend>Конструктор</legend>
                        <label>
                            <input type="checkbox" v-model="constructor.errand" :checked="constructor.errand" disabled>
                            Поручение
                        </label>
                        <label>
                            <input type="checkbox" v-model="constructor.responsible" :checked="constructor.responsible" disabled>
                            Ответственный
                        </label>
                        <label>
                            <input type="checkbox" v-model="constructor.executionPeriod" :checked="constructor.executionPeriod">
                            Срок исполнения
                        </label>
                        <label v-if="constructor.executionPeriod">
                            <input class="nested" type="checkbox" v-model="constructor.carryover" :checked="constructor.carryover">
                            Показать все переносы
                        </label>
                        <label>
                            <input type="checkbox" v-model="constructor.coExecutor" :checked="constructor.coExecutor">
                            Соисполнитель
                        </label>
                        <label>
                            <input type="checkbox" v-model="constructor.comments" :checked="constructor.comments">
                            Комментарии
                        </label>
                        <label>
                            <input type="checkbox" v-model="constructor.errandSource" :checked="constructor.errandSource">
                            Источник поручения и дата
                        </label>
                        <label>
                            <input type="checkbox" v-model="constructor.mark" :checked="constructor.mark" @click="loadTags">
                            С учетом меток
                        </label>
                        <multiselect
                            v-if="constructor.mark"
                            :multiple="true"
                            placeholder="Выберите метки"
                            v-model="selectedTag"
                            :options="tags">
                        </multiselect>
                    </fieldset>
                    <fieldset>
                        <legend>Действия</legend>
                        <label>
                            <input type="checkbox" v-model="actions.log" :checked="actions.log">
                            Добавить файл повестки в журнал
                        </label>
                        <label>
                            <input type="checkbox" v-model="actions.download" :checked="actions.download">
                            Скачать файл повестки
                        </label>
                    </fieldset>
                    <br/>
                </form>
                <div class="info" v-if="info">
                    <h4>{{info}}</h4>
                    <a :href="downloadUrl" v-if="downloadUrl">Загрузить файл</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-cnd primary" @click="formAgenda" v-if="(actions.log || actions.download) && !spinnerStatus && !info">Сформировать</button>
                <button type="button" class="button-cnd primary" @click="reload" v-if="info">Обновить страницу</button>
                <button type="button" class="button-cnd primary" @click="retry" v-if="reloadForm">Обновить форму</button>
                <button type="button" class="button-cnd" @click="close">Закрыть</button>
            </div>
        </div>
    </div>
</template>

<script>
    const SERVER_ERROR_MESSAGE = 'Обнаружены проблемы работы сервера. Пожалуйста, попробуйте еще раз или обратитесь к администратору.';

    import Spinner from "../../vue-components/base/Spinner.vue";
    import AgendaProtocolApiService from "../../services/api/AgendaProtocolApiService";
    import Multiselect from "vue-multiselect";
    // import "vue-multiselect/dist/vue-multiselect.min.css";

    export default {
        components: {
            Spinner,
            Multiselect
        },
        data() {
            return {
                dealId: null,
                actions: {
                    log: false,
                    download: true,
                },
                constructor: {
                    errand: true,
                    executionPeriod: false,
                    carryover: false,
                    responsible: true,
                    coExecutor: true,
                    comments: false,
                    errandSource: false,
                    mark: false,
                },
                spinnerStatus: false,
                spinnerTitle: '',
                info: null,
                downloadUrl: null,
                reloadForm: false,
                selectedTag: null,
                tags: [],
            }
        },
        computed: {

        },
        methods: {
            close() {
                document.getElementById('form-agenda__modal-container-cnd').style.display = 'none';
            },
            reload() {
                document.location.reload(true);
            },
            getDealId() {
                let pathname = window.location.pathname;
                let pathnameParts = pathname.split('/');
                for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
                    if (pathnameParts[i] === 'card') {
                        this.dealId = pathnameParts[i+1];
                        break;
                    }
                }
                if (!this.dealId) {
                    for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
                        if (pathnameParts[i] === 'card') {
                            this.dealId = pathnameParts[i-1];
                            break;
                        }
                    }
                }
                return null;
            },
            formAgenda() {
                let self = this;
                (async function () {
                    self.enableSpinner('Формируется файл повестки. Пожалуйста, ожидайте');
                    let response;
                    try {
                        const data = Object.assign(
                            {},
                            { constructor: self.constructor },
                            { actions: self.actions }
                        );
                        response = await AgendaProtocolApiService.formAgenda(self.dealId, data);
                    } catch (e) {
                        self.info = SERVER_ERROR_MESSAGE;
                        self.disableSpinner();
                        return;
                    }
                    self.disableSpinner();
                    self.info = 'Файл повестки успешно сформирован';
                    self.reloadForm = true;
                    if (self.actions.download) {
                        self.downloadUrl = response.data.downloadUrl;
                    }
                })();
            },
            retry() {
                this.info = null;
                this.reloadForm = false
            },
            loadTags() {
                let self = this;
                (async function () {

                })();
            },
            enableSpinner(message) {
                this.spinnerTitle = message;
                this.spinnerStatus = true;
            },
            disableSpinner() {
                this.spinnerStatus = false;
                this.spinnerTitle = '';
            }
        },
        mounted() {
            this.getDealId();
        }
    }
</script>

<style lang="scss" scoped>
    .mx-datepicker-popup {
        z-index: 10000 !important;
    }
    h1, h2, h3, h4 {
        font-family: Roboto, serif;
        font-weight: 400;
    }
    .modal-cnd {
        position: fixed;
        display: none;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,.4);
        user-select: none;
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            max-width: 80%;
            min-width: 25%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
            .modal-header {
                position: relative;
                padding: 10px 20px;
                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                    line-height: 8px;
                    cursor: pointer;
                    font-size: 1.3em;
                }
            }
            .modal-body {
                padding: 10px 20px;
                text-align: center;
                form {
                    display: flex;
                    padding: 0;
                    text-align: left;
                    fieldset {
                        width: 50%;
                        label {
                            display: block;
                            cursor: pointer;
                            .nested {
                                margin-left: 25px;
                            }
                        }
                    }
                }
            }
            .modal-footer {
                padding: 10px 20px;
                text-align: right;
            }
        }
    }

    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }

</style>