<template>
    <div id="form-protocol__modal-container-cnd" class="modal-cnd">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" @click="close">&times;</span>
                <h3>Формирование протокола</h3>
            </div>
            <div class="modal-body">
                <Spinner :title="spinnerTitle" :seen="spinnerStatus" :fs="false"/>
                <form v-if="!spinnerStatus && !info">
                    <label>
                        <input type="checkbox" v-model="log" :checked="log">
                        Добавить файл протокола в журнал
                    </label>
                    <br/>
                </form>
                <div class="info" v-if="info">
                    <h4>{{info}}</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-cnd primary" @click="formProtocol" v-if="log && !spinnerStatus && !info">Сформировать</button>
                <button type="button" class="button-cnd primary" @click="reload" v-if="info">Обновить страницу</button>
                <button type="button" class="button-cnd" @click="close">Закрыть</button>
            </div>
        </div>
    </div>
</template>

<script>
    const SERVER_ERROR_MESSAGE = 'Обнаружены проблемы работы сервера. Пожалуйста, попробуйте еще раз или обратитесь к администратору.';

    import Spinner from "../../vue-components/base/Spinner.vue";
    import AgendaProtocolApiService from "../../services/api/AgendaProtocolApiService";

    export default {
        components: {
            Spinner
        },
        data() {
            return {
                dealId: null,
                log: true,
                spinnerStatus: false,
                spinnerTitle: '',
                info: null
            }
        },
        computed: {

        },
        methods: {
            close() {
                document.getElementById('form-protocol__modal-container-cnd').style.display = 'none';
            },
            reload() {
                document.location.reload(true);
            },
            getDealId() {
                let pathname = window.location.pathname;
                let pathnameParts = pathname.split('/');
                for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
                    if (pathnameParts[i] === 'card') {
                        this.dealId = pathnameParts[i+1];
                        break;
                    }
                }
                if (!this.dealId) {
                    for (let i = 0, counter = pathnameParts.length; i < counter; i++) {
                        if (pathnameParts[i] === 'card') {
                            this.dealId = pathnameParts[i-1];
                            break;
                        }
                    }
                }
                return null;
            },
            formProtocol() {
                let self = this;
                (async function () {
                    self.enableSpinner('Формируется файл протокола. Пожалуйста, ожидайте');
                    try {
                        const response = await AgendaProtocolApiService.formProtocol(self.dealId);
                    } catch (e) {
                        self.info = SERVER_ERROR_MESSAGE;
                        self.disableSpinner();
                        return;
                    }
                    self.disableSpinner();
                    self.info = 'Файл протокола успешно сформирован и добавлен в журнал';
                })();
            },
            enableSpinner(message) {
                this.spinnerTitle = message;
                this.spinnerStatus = true;
            },
            disableSpinner() {
                this.spinnerStatus = false;
                this.spinnerTitle = '';
            }
        },
        mounted() {
            this.getDealId();
        }
    }
</script>

<style lang="scss" scoped>
    .mx-datepicker-popup {
        z-index: 10000 !important;
    }
    h1, h2, h3, h4 {
        font-family: Roboto;
        font-weight: 400;
    }
    .modal-cnd {
        position: fixed;
        display: none;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,.4);
        user-select: none;
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            max-width: 80%;
            min-width: 25%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
            .modal-header {
                position: relative;
                padding: 10px 20px;
                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                    line-height: 8px;
                    cursor: pointer;
                    font-size: 1.3em;
                }
            }
            .modal-body {
                padding: 10px 20px;
                text-align: center;
                form {
                    padding: 0;
                    text-align: left;
                    label {
                        cursor: pointer;
                    }
                }
            }
            .modal-footer {
                padding: 10px 20px;
                text-align: right;
            }
        }
    }

    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }

</style>